.card{
background: #FFDC84;
border-radius: 50px;
width: 90%;
margin-right: 5%;
margin-left: 5%;
margin-top: 100px;
display: flex;
justify-content: center;
}
.conteudo{
    width: 80%;
}
.titulo{
    padding-top: 1px;
}
.titulo h1{
    font-weight: 400;
    text-align: center;
}
.inputs{
    margin-top: 50px;
}
.input{
    background: #FFCB44;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 4vh;
    margin-top: 20px;
    font-weight: bold;
}
.cadastrar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
ion-button{
    --border-radius: 20px;
}
.sc-ion-input-md-h{
    --padding-start: 16px;
}