
<ion-content color="warning">
<div class="card">
<div class="conteudo">
  
  <div class="titulo">
  <h1>Fazer cadastro</h1>
  </div>
  <div class="inputs">
    
  <div class="input">
      <ion-input placeholder="Nome:"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Telefone:"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Senha:"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Instituição:"></ion-input>
  </div>
  <div class="input">
    <ion-input placeholder="Turma:"></ion-input>
  </div>
      <div class="cadastrar">
        <ion-button size="small" color="warning">CADASTRAR</ion-button>
      </div>
          <div class="botao">
            <ion-button size="small" color="warning" routerLink="/login">Já possui cadastro? Fazer Login</ion-button>
          </div>
    </div>
  </div>
</div>
</ion-content>
