<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cadastrar produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="card">
  <div class="conteudo">
    
    <div class="titulo">
    <h1>Seu perfil</h1>
    </div>
    <div class="dados">
    <div class="dado">
        <p>Nome:</p>
    </div>
    <div class="dado">
      <p>Telefone:</p>
    </div>
    <div class="dado">
      <p>Instituição:</p>
    </div>
    <div class="dado">
      <p>Turma:</p>
    </div>
        <div class="voltar">
          <ion-button size="small" color="warning" routerLink="/tabs/home">voltar para o início</ion-button>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  
