<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Cadastrar produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="card">
  <div class="conteudo">
    
    <div class="titulo">
    <h1>Cadastrar produto</h1>
    </div>
    <div class="inputs">
      
    <div class="input">
        <ion-input placeholder="Nome:"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Descrição:"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Tipo:"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Valor:"></ion-input>
    </div>
        <div class="cadastrar">
          <ion-button size="small" color="warning">CADASTRAR</ion-button>
        </div>
        <div class="voltar">
          <ion-button size="small" color="warning" routerLink="/tabs/home">voltar para o início</ion-button>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  
