
<ion-content color="warning">
  <div class="card">
  <div class="conteudo">
    
    <div class="titulo">
    <h1>Fazer Login</h1>
    </div>
    <div class="inputs">
      
    <div class="input">
      <ion-input placeholder="Telefone:"></ion-input>
    </div>
    <div class="input">
      <ion-input placeholder="Senha:"></ion-input>
    </div>
        <div class="cadastrar">
          <ion-button size="small" color="warning">Logar</ion-button>
        </div>
            <div class="botao">
              <ion-button size="small" color="warning" routerLink="/cadastro">Não possui cadastro? Faça-o agora</ion-button>
            </div>
      </div>
    </div>
  </div>
  </ion-content>
  