<ion-tabs>

  <ion-tab-bar color="warning" slot="bottom">
    <ion-tab-button tab="pesquisa">
      <ion-icon name="list"></ion-icon>
      <ion-label>Pesquisa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
