<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Pesquisar produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="introducao">
    <h1>Pesquise produtos perto de você</h1>
  </div>

  <div class="pesquisa">
    <ion-searchbar color="tertiary" animated showCancelButton="focus" (ionInput)="search($event)" placeholder="Ex: Brownie, coxinha"></ion-searchbar>
    
    <ion-select value="relevancia" okText="Ok" cancelText="Cancelar">
      <ion-select-option value="relevancia">Maior relevancia</ion-select-option>
      <ion-select-option value="menor">Menor preço</ion-select-option>
      <ion-select-option value="classificacao">Melhor classificação</ion-select-option>
      <ion-select-option value="maior">Maior preço</ion-select-option>
    </ion-select>
  </div>

  <div class="resultado" *ngFor="let produt of produtos">
  <div class="lista" routerLink="/tabs/perfil-produto/{{produt.key}}" >
    <p>Nome:{{produt.nomeProduto}}</p>
    <p>Descrição:{{produt.descricaoProduto}}</p>
    <p>Tipo:{{produt.tipoProduto}}</p>
    <p>Valor:{{produt.valorProduto}}</p>
  </div>
  <div class="vendedor" routerLink="/tabs/vendedor/{{produt.IdUser}}">
    <h2>DADOS</h2>
    <h2>DO</h2>
    <h2>VENDEDOR</h2>
  </div>
</div>


</ion-content>
