<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="card">
  <div class="conteudo" *ngIf="usuarios">
    
    <div class="titulo">
    <h1>Sobre o vendedor</h1>
    </div>
    <div class="dados">
    <div class="dado">
        <p>Nome:{{usuarios.nome}}</p>
    </div>
    <div class="dado">
      <p>Telefone:</p>
    </div>
    <div class="dado">
      <p>Instituição:</p>
    </div>
    <div class="dado">
      <p>Turma:</p>
    </div>
        <div class="voltar">
          <ion-button size="small" color="warning" routerLink="/tabs/pesquisa">voltar para a lista</ion-button>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
  
