<ion-header>
  <ion-toolbar color="warning">
    <ion-title><div class="header"><img src="assets/img/kevao.png" width="8%" ><h1>SchoolEat</h1></div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="opcao">
    <img src="assets/img/ajuda.svg">Ajuda
  </div>
  <div class="opcao">
    <img src="assets/img/sobre.svg">Sobre o Aplicativo
  </div>
  <div class="opcao">
    <img src="assets/img/privacidade.svg">Políticas de privacidade
  </div>
  <div class="opcao">
    <img src="assets/img/faleconosco.svg">Fale conosco
  </div>
  <div class="opcao">
    <img src="assets/img/avaliacao.svg">Deixe uma avaliação
  </div>
  <div class="final">
    &copy; Todos os direitos reservados
  </div>

</ion-content>
