<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="introducao">
    <h1>Seus dados:</h1>
  </div>

  <div class="comeco">

  <div class="perfil" routerLink="/tabs/perfil/{usuario.key}" *ngIf="usuario" >
    <p>Nome:{{usuario.nome}}</p>
    <p>Telefone:{{usuario.telefone}} </p>
    <p>Instituição:{{usuario.instituicao}}</p>
    <p>Turma:{{usuario.turma}}</p>
  </div>
  <img src="assets/img/editar.svg" alt="">
  <img src="assets/img/sair.svg" alt="" (click)="logout()">
</div>

<div class="textomeio">
  <h1>Seus produtos cadastrados:</h1>
</div>

<div class="lista" >
  <p>Nome:</p>
  <p>Descrição:</p>
  <p>Tipo:</p>
  <p>Valor:</p>
</div>

<div class="adicionar">
  <img src="assets/img/add.svg" routerLink="/tabs/cadastro-produto" alt="">
</div>

</ion-content>
