<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="introducao">
    <h1>Seus dados:</h1>
  </div>

  <div class="comeco">

  <div class="perfil" routerLink="/tabs/perfil">
    <p>Nome:</p>
    <p>Telefone:</p>
    <p>Instituição:</p>
    <p>Turma:</p>
  </div>
  <img src="assets/img/editar.svg" alt="">
  <img src="assets/img/sair.svg" alt="">
</div>

<div class="textomeio">
  <h1>Seus produtos cadastrados:</h1>
</div>

<div class="lista">
  <p>Nome:</p>
  <p>Descrição:</p>
  <p>Tipo:</p>
  <p>Valor:</p>
</div>

<div class="adicionar">
  <img src="assets/img/add.svg" routerLink="/tabs/cadastro-produto" alt="">
</div>

</ion-content>
