<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Refresh -->
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Carregando..."
    >
    </ion-refresher-content>
</ion-refresher>


  <div class="introducao">
    <h1>Seus dados:</h1>
  </div>

  <div class="comeco">

  <div class="perfil"(click)="bloqueador()" >
      <h1>Bloqueado para proxima atualização</h1>
    <!-- <p>Nome:</p>
    <p>Telefone: </p>
    <p>Instituição:</p> -->
  </div>
  <img src="assets/img/editar.svg" alt="">
  <img src="assets/img/sair.svg" alt="" (click)="logout()">
</div>

<div class="textomeio">
  <h1>Seus produtos cadastrados:</h1>
</div>

<div class="lista" >
    <h1>Bloqueado para proxima atualização</h1>
  <!-- <p>Nome:</p>
  <p>Descrição:</p>
  <p>Tipo:</p>
  <p>Valor:</p> -->
</div>

<div class="adicionar">
  <img src="assets/img/add.svg" routerLink="/tabs/cadastro-produto" alt="">
</div>

</ion-content>
