.card{
    background: #FFDC84;
    border-radius: 50px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    }
    .conteudo{
        width: 80%;
    }
    .titulo{
        padding-top: 1px;
    }
    .titulo h1{
        font-weight: 400;
        text-align: center;
    }
    .dados{
        margin-top: 15px;
    }
    .dado{
        display: flex;
        justify-content: flex-start;
        height: 4vh;
        margin-top: 20px;
        font-weight: bold;
    }
    ion-button{
        --border-radius: 20px;
    }
    .sc-ion-input-md-h{
        --padding-start: 16px;
    }
    .voltar{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .photo-perfil{
        border:solid 1px red;
        width: 40%;
        height: 70%;
        // background-color: transparent;
    }